/* styles.css */
/* CSS styles for the webpage */
/*sivun runko: asetetaan taustaväri ja fonttiperhe, maksimileveys ja automaattiset marginaalit*/
body {
    background-color:burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(247, 250, 247);
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: rgb(191, 180, 157);
  padding: 20px;
  text-align: center;
}

}.responsive-box {
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .responsive-box {
    background-color: lightcoral;
  }
}

@media (min-width: 601px) {
  .responsive-box {
    background-color: lightseagreen;
  }
}
/*header, footer {
    background-color: #c43abb;
    padding: 20px;
    text-align: center;
    color: white;
}